# 3. An informal introduction to python

The link to tutorial being followed: <a>https://docs.python.org/3/tutorial/introduction.html</a>

In [4]:
# this is the first comment
spam = 1  # and this is the second comment
          # ... and now a third!
text = "# This is not a comment because it's inside quotes."

In [5]:
text

"# This is not a comment because it's inside quotes."

In [6]:
spam

1

In [7]:
print(text)

# This is not a comment because it's inside quotes.

<h2>3.1 Usinng python as calculator</h2>

<h3> 3.1.1 Numbers </h3>

<p>The interpreter acts as a simple calculator: you can type an expression at it and it will write the value. Expression syntax is straightforward: the operators +, -, * and / can be used to perform arithmetic; parentheses (()) can be used for grouping. For example:</p>

In [10]:
print(2+2)
50 - 5*6

4

20

In [11]:
(50 - 5*6) / 4

5.0

In [12]:
8 / 5  # division always returns a floating point number

1.6

In [13]:
17 / 3  # classic division returns a float

5.666666666666667

In [14]:
17 // 3  # floor division discards the fractional part

5

In [15]:
5**2

25

In [16]:
2 ** 7

128

In [17]:
n

NameError: name 'n' is not defined

In [18]:
4 * 3.75 - 1

14.0

In [25]:
4 * 3.7

14.8

In [27]:
tax = 12.5/100
price = 100.50
price * tax

12.5625

In [28]:
price + _

113.0625

In [29]:
_

113.0625

In [26]:
_

14.8

In [30]:
round(_, 2)

113.06

### 3.1.2 Text

In [32]:
'spam eggs'  # single quotes

'spam eggs'

In [33]:
"Paris rabbit got your back :)! Yay!"  # double quotes

'Paris rabbit got your back :)! Yay!'

In [34]:
'1975'  # digits and numerals enclosed in quotes are also strings

'1975'

In [35]:
'doesn\'t'  # use \' to escape the single quote...

"doesn't"

In [36]:
"doesn't"

"doesn't"

In [37]:
'"Yes", they said'

'"Yes", they said'

In [38]:
"\"Yes\", they said"

'"Yes", they said'

In [39]:
"\"Yes\", they said" == '"Yes", they said'

True

In [40]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [42]:
s = 'First line.\nSecond line.'  # \n means newline
s

'First line.\nSecond line.'

In [43]:
print(s)

First line.
Second line.