In [1]:
# hello

In [2]:
print("hello")

hello

In [5]:
print()

In [6]:
print(6+7)

13

In [7]:
'''
multiline comment?
'''

'\nmultiline comment?\n'

In [9]:
"""
another multi-line comment?
really having multiple lines
"""

'\nanother multi-line comment?\nreally having multiple lines\n'

In [10]:
x = 6

In [11]:
x

6

In [12]:
type(x)

int

In [13]:
name = 'john'
name

'john'

In [14]:
iscool = True
iscool

True

In [16]:
#multiple assignment
x, y, name, iscool = (1, 2.5, 'john', True)

In [17]:
print(x,y)

1 2.5

In [18]:
print(name, iscool)

john True

In [21]:
x = str(x)
y = int(y)
print(x, y)
print(type(x), type(y))

1 2
<class 'str'> <class 'int'>

In [22]:
name = 'Brad'
age = 37

In [23]:
#concatenate
print("hello my name is: " + name)

hello my name is: Brad

In [24]:
#concatenate
print("hello my name is: " + name + ". I am " + age)

TypeError: can only concatenate str (not "int") to str

In [25]:
print("hello my name is: " + name + ". I am " + str(age))

hello my name is: Brad. I am 37

In [29]:
# string formatting
# 1. arguments by position
print("hello my name is {name}. I am {age}".format(name=name, age=age))

# 2. f-strings
print(f"hello my name is {name}. I am {age}")

hello my name is Brad. I am 37
hello my name is Brad. I am 37

### string methods

In [31]:
# capitalize
s = 'hello world'
s.capitalize()

'Hello world'

### Lists

In [32]:
l1 = ['hello', 1.2, 6, 7, 7, {}]

In [33]:
l1

['hello', 1.2, 6, 7, 7, {}]

In [34]:
l2 = list(('hello', 1.2, 6, 7, 7, {'hello'}))

In [35]:
l2

['hello', 1.2, 6, 7, 7, {'hello'}]

In [1]:
l1 == l2

NameError: name 'l1' is not defined

In [2]:
fruits = ['apples', 'oranges', 'grapes', 'pears']

In [3]:
fruits[3]

'pears'

In [4]:
len(fruits)

4

In [5]:
# append
fruits.append('mangoes')
fruits

['apples', 'oranges', 'grapes', 'pears', 'mangoes']

In [6]:
fruits.remove('pears')
fruits

['apples', 'oranges', 'grapes', 'mangoes']

In [7]:
# insert into specific position
fruits.insert(2, 'strawberries')
fruits

['apples', 'oranges', 'strawberries', 'grapes', 'mangoes']

In [8]:
# remove with position?
fruits.pop()

'mangoes'

In [9]:
fruits

['apples', 'oranges', 'strawberries', 'grapes']

In [10]:
fruits.pop(1)

'oranges'

In [11]:
fruits

['apples', 'strawberries', 'grapes']

In [12]:
fruits.reverse()

In [13]:
fruits

['grapes', 'strawberries', 'apples']

In [14]:
fruits.sort()

In [15]:
fruits

['apples', 'grapes', 'strawberries']

In [16]:
import numpy as np

In [17]:
np.version.version

'1.24.3'

In [18]:
a = np.array([0,0,0,0,0,0,0,0,0,0])

In [19]:
print(a)

[0 0 0 0 0 0 0 0 0 0]

In [20]:
# reverse sort
fruits.sort(reverse=True)
fruits

['strawberries', 'grapes', 'apples']

In [21]:
fruits[0] = 'blueberries'
fruits

['blueberries', 'grapes', 'apples']

### Tuples

In [22]:
# Tuples are unchangable
fruits = ('Apples', 'Oranges', 'Grapes')
fruits2 = tuple(('Apples', 'Oranges', 'Grapes'))
fruits3 = ()

print(fruits, fruits2, fruits3)

('Apples', 'Oranges', 'Grapes') ('Apples', 'Oranges', 'Grapes') ()

In [23]:
# trailing comma for uni-valued tuple
single_fruit = ("apple")
single_fruit_2 = ("apple",)

print(single_fruit, type(single_fruit))
print(single_fruit_2, type(single_fruit_2))

apple <class 'str'>
('apple',) <class 'tuple'>

In [25]:
print(fruits[1])
print(fruits)

Oranges
('Apples', 'Oranges', 'Grapes')

In [26]:
fruits[1] = ""

TypeError: 'tuple' object does not support item assignment

In [27]:
# delete a tuple
del(fruits2)
print(fruits2)

NameError: name 'fruits2' is not defined

In [28]:
len(fruits)

3

### Set

In [36]:
fruits_set = {'Apples', "Oranges", 'Mango'}
fruits_set

{'Apples', 'Mango', 'Oranges'}

In [37]:
# membership in a set
print("Apples" in fruits_set)

True

In [38]:
fruits_set.add('Grape')
fruits_set

{'Apples', 'Grape', 'Mango', 'Oranges'}

In [41]:
fruits_set.remove('Grape')
fruits_set

{'Apples', 'Mango', 'Oranges'}

In [42]:
# add duplicate value
fruits_set.add('Mango')
fruits_set

{'Apples', 'Mango', 'Oranges'}

In [34]:
# clear set
fruits_set.clear()
fruits_set

set()

In [35]:
del(fruits_set)
fruits_set

NameError: name 'fruits_set' is not defined

### Dictonaries

In [66]:
# create dict
person = {
    'first_name' : 'John',
    'last_name' : 'Doe', 
    'age' : 30
}
print(person)
type(person)

{'first_name': 'John', 'last_name': 'Doe', 'age': 30}

dict

In [67]:
# use constructor
person2 = dict(first_name='Sara', last_name='Williams')

In [68]:
print(person2, type(person2))

{'first_name': 'Sara', 'last_name': 'Williams'} <class 'dict'>

In [69]:
# get a value
print(person['first_name'])

John

In [70]:
print(person.get('last_name'))

Doe

In [71]:
# add key-value
person['phone'] = '8282950574';

In [72]:
person

{'first_name': 'John', 'last_name': 'Doe', 'age': 30, 'phone': '8282950574'}

In [73]:
import pprint
import json

pprint.pprint(person)
print(json.dumps(person, indent=1))

{'age': 30, 'first_name': 'John', 'last_name': 'Doe', 'phone': '8282950574'}
{
 "first_name": "John",
 "last_name": "Doe",
 "age": 30,
 "phone": "8282950574"
}

In [74]:
# get dict keys
print(person.keys())

dict_keys(['first_name', 'last_name', 'age', 'phone'])

In [75]:
print(person.items())

dict_items([('first_name', 'John'), ('last_name', 'Doe'), ('age', 30), ('phone', '8282950574')])

In [76]:
# copy dictonary
person2 = person.copy()
person2['city'] = 'kolkata'

print(person2)

{'first_name': 'John', 'last_name': 'Doe', 'age': 30, 'phone': '8282950574', 'city': 'kolkata'}

In [77]:
# remove item
# del(person['age'])
person.pop('age')

30

In [78]:
person

{'first_name': 'John', 'last_name': 'Doe', 'phone': '8282950574'}

In [79]:
# clear
person.clear()

In [82]:
print(person)

{}

In [83]:
# get length
len(person2)

5

In [84]:
len(person)

0

In [85]:
# list of dictonaries
people = [
    {'name' : 'Martha', 'age' : 21},
    {'name' : 'Kevin', 'age' : 25},
]

print(people)

[{'name': 'Martha', 'age': 21}, {'name': 'Kevin', 'age': 25}]

In [86]:
people[0]['name']

'Martha'

### Functions

In [90]:
def addition(a=0, b=0):
    return a+b

addition(23,1)

24

In [91]:
addition(23,-1)

22

In [92]:
addition()

0

In [95]:
# lambda function
# very similar to arrow function
get_sum = lambda num1, num2 : num1+num2
get_sum(4,10)

14

### conditionals

In [96]:
...

Ellipsis

In [101]:
numbers = [1,2,3,4,5,6,7,8,9,10]
x = 13

print(x in numbers or x not in numbers)
print(x in numbers)
print(x not in numbers)

True
False
True

In [102]:
# is
y = 13

print(x is y)

True

In [104]:
y += 1
print(x is y)

False

In [105]:
people = ['john', 'paul', 'sara', 'susan']

# simple for loop
for person in people:
    print(person)

john
paul
sara
susan

### for loop

In [106]:
for person in people:
    if (person == 'sara'):
        break
    print(f'current person: {person}')

current person: john
current person: paul

In [107]:
for person in people:
    if (person == 'sara'):
        continue
    print(f'current person: {person}')

current person: john
current person: paul
current person: susan

In [108]:
# range
for i in range(len(people)):
    print(people[i])

john
paul
sara
susan

In [109]:
for i in range(0, 11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [110]:
count = 0
while count <= 10:
    print(f'Count: {count}')
    count += 1

Count: 0
Count: 1
Count: 2
Count: 3
Count: 4
Count: 5
Count: 6
Count: 7
Count: 8
Count: 9
Count: 10

### Modules

Core modules

In [112]:
import datetime as dt
# from datetime import date

# today = date.today()

today = dt.date.today()
print(today)

2024-08-17

In [125]:
from time import time
timestamp2 = time()

# print(timestamp1)
print(timestamp2)

1723889866.53305

Pip module:

In [ ]:
import camel